<div class="ui inverted huge menu teal attached">
  <a class="item">
    Home
  </a>
  <a>
    <%= link_to "My Portfolio", my_portfolio_path, class: 'item' %>
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      Account <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">Profile</a>
        <a class="item">Friends</a>
        <a class="item">Stocks</a>
      </div>
    </div>
    <div class="item">
        <div class="ui grey button">Sign Up</div>
    </div>
  </div>
</div>